.container-diferenciais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.container-diferenciais__img{
    

    @media screen and (min-width: 768px){
        display: block;
        width: 50%;
        right: 0;
        padding: 4rem;         
    }
}


.box-chamada-diferenciais{
    background-color: $primaria;
    box-sizing: border-box;
    padding: 1rem;
    
    @media screen and (min-width: 768px){
        width: 50%;
        right: 0;
        padding: 4rem;        
    }
}

.title-padrao__diferenciais{
    @include title-padrao;
    color: $branco;
}


.texto-padrao__diferenciais{
    @include box-texto;
    color: $branco;
}

.btn-cotacao__diferenciais{
    background-color: $branco;
    color: $primaria;
}