$primaria: #CC0000;
$cinza-escuro: #5C5C5C;
$cinza-medio: #B2B2B2;
$cinza-claro: #F1F2F2;
$hover-vermelho: #990000;
$branco: #ffffff;
$preto: #000000;


$raio: 4px;


$font-padrao: 'Roboto', sans-serif;





